# Preliminary Analysis
## Reading in the data

In [46]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials

# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('keys.json', scope)

# authorize the clientsheet 
client = gspread.authorize(creds)

# get the instance of the Spreadsheet
sheet = client.open("Parkville Project Top Secret Calendar")

# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(3)

# get all the records of the data
records_data = sheet_instance.get_all_records()

# view the data
df = pd.DataFrame(records_data)[:28]

In [47]:
import re
for col in df.iloc[:,1:]:
    name = re.findall(r'\w+_\w+_', col)   
    Search = []  
    for values in df[col]:
        match = re.search(r'(\(2\d{3}\))|(\(\d{1,2}.\d{1,2}.\d{4}\))', values)
        if match is not None:
            Search.append(match.group(0))
        else:
            Search.append(None)
    df[f'{name[0]}Date'] = Search

In [48]:
# for col in df.iloc[:,1:]:
#     name = re.findall(r'\w+_\w+_', col)   
#     Search = []  
#     for values in df[col]:
#         match = re.search(r'(\(1\d{3}\))|(\(\d{3}\))', values)
#         if match is not None:
#             Search.append(match.group(0))
#         else:
#             Search.append(None)
#     df[f'{name[0]}Dat'] = Search

,Athlete,800_PB_Time,1500_PB_Time,Mile_PB_Time,3000_PB_Time,5000_PB_Time,10000_PB_Time,5k_PB_Time,10k_PB_Time,15k_PB_Time,...,800_SB_Date,1500_SB_Date,Mile_SB_Date,3000_SB_Date,5000_SB_Date,10k_SB_Date,15k_SB_Date,2_Mara_SB_Date,Mara_SB_Date,Steeple_SB_Date
0,Lisa Weightman,,4:23.9 (2005),,9:22.6 (2006),15:54.31 (2007),32:20.14 (2009),,31:50 (2021) (1148),51:31 (2008),...,None,None,None,None,None,None,None,None,None,None
1,Tim Bryant,,,,,15:01.37 (2022),31:12.3 (2022),,,,...,None,None,None,None,None,None,None,None,None,None
2,Steve Langdon,1:53.32,3:55.00,,8:31.00,14:53.00,,,31:04 (866),,...,None,None,None,None,None,None,None,None,None,None
3,Jonny Earl,,,,8:44.71 (2022),15:05 (2022),31:24.0 (2022) (839),,,,...,None,None,None,None,None,None,None,None,(2.10.2022),None
4,Max Ueda,,4:03.61 (2018) (801),,8:37.03 (2019) (850),14:58.11 (2020) (815) 15:57 (2019),31:12.47 (2019) (855),,30:34 (2019) (907),47:07 (2019) (900),...,None,None,None,None,None,None,None,None,None,None
5,Patrick Jaffe,,,,8:50.45 (2021),15:15.90 (2021) (780),32:36 (2022),,,,...,None,None,None,None,None,None,None,None,None,None
6,Jeevaneesh Soundararajah,2:00 (2022),4:00 (2022),,8:42 (2022) (823),15:14 (2018),33:25 (2018),,32:10 (2022),,...,None,None,None,None,None,None,None,None,None,None
7,Ben Haseler,,,,9:12 (2022) (675),15:39 (2022) (697),,,33:18 (2022) (700),,...,None,None,None,None,(2022),None,None,None,None,None
8,Caleb Muller,1:55 (2013),3:56 (2013),4:18 (2013),8:37 (2013),14:36 (2012),30:14 (2013),14:41 (2014),31:22 (2018),48:21 (2018),...,None,None,None,None,(2022),None,None,None,None,None
9,Taine Lang,,4:22.71 (15.10.2022) (608),4.38.63 (29.09.2022) (652),9:27.18 (15.10.2022) (606),,,16:12 (2022),35:03 (2022),,...,None,(22.10.2022),(29.09.2022),(15.10.2022),None,None,None,None,None,None
10,Shohei Waller,,,,9:16 (2021),15:47.0 (2022) (675),,,32.56 (2022),,...,None,None,None,None,None,None,None,None,None,None
11,Leigh Goedecke,,,,,,,,,,...,None,None,None,None,None,(2022),None,None,None,None
12,Craig Pilkington,,,4:48,9:22.90 (2022) (625),16:39 (05.11.2022) (540),,16:21 (19.11.22) (585),35:53 (24.11.2019) (524),,...,None,None,None,(12.11.2022),(05.11.2022),None,None,(2.10.2022),None,None
13,Radeyan Sazzad,,,,,,,17:17.7,35:09 (572),53:36 (589),...,None,None,None,None,None,None,None,None,(2/10/2022),None
14,Shyam Bhuller,,,,,16:53.8 (2022),,16:15 (2022) (600),,,...,None,None,None,None,None,None,None,None,None,None
15,Wes Hay,,4:27.2 (8.10.2022) (564),,,16:54.14 (22.10.2022) (503),,,,,...,None,(8.10.2022),None,None,(17.11.2022),None,None,None,None,None
16,Jack Melleuish,2:07.9 (13.11.2021),4:16.28 (20.1.2022) (673),4:46.89 (29.9.2022),9:38.61 (12.11.2022) (542),17:03.70 (11.2.2022),,16:36 (2.7.2022),35:47 (7.8.2022),1:00:30 (19.9.2021),...,None,(22.10.2022),(29.9.2022),(12.11.2022),(2.7.2022),(7.8.2022),None,None,None,None
17,Pat Nicholls,,4:32.0 (22.10.22),,,17:23 (2022),,,36:46 (7.8.22) (470),,...,None,(22.10.2022),None,None,(15.10.2022),None,None,None,None,None
18,Jimmy Goulis,1:59,4:03,4:58,9:06,15:43,32:47.0,15:45,32:47*,,...,None,None,None,None,None,None,None,None,None,None
19,Quan Nguyen,2:08.58 (10.3.2022) (564),,,10:01 (24.3.2022) (465),,,,36:14 (7.8.2022) (502),,...,None,None,None,None,None,(7.8.2022),None,None,None,None
20,Noah Savarirayan,,,,,,,17:44,,,...,None,None,None,None,None,None,None,None,None,None
21,Dave M.,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None
22,Philip V. D.,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None
23,Jacob Savarirayan,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None
24,Angus,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None
25,Ashton K.,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None
26,Charlie P.,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None
27,Nick Earl,,,,,,,,,,...,None,None,None,None,None,None,None,None,None,None